.messageArea {
	height: 90%;
	width: 100%;
	border-bottom: 1px solid black;
	word-wrap: break-word;
	overflow-y: auto;
	font-family: sans-serif;
}
.messageArea > * {
	margin-left: 5px;
	margin-right: 5px;
}

span.nick {
	font-weight:bold;
}

.unconfirmedMessage {
	text-indent: -7px;
	margin-left: 7px;
	color: gray;
}

.confirmedMessage {
	text-indent: -7px;
	margin-left: 7px;
	color: black;
}

.controlMessage {
	text-indent: -7px;
	margin-left: 7px;
	font-style: italic;
}

.messageTimestamp {
	color: gray;
	font-size: 90%;
	text-indent: -7px;
	margin-left: 7px;
}

.chatBox {
	padding: 5px;
	height: 10%;
	width: 100%;
	resize: none;
	border: none;
	font-family: sans-serif;
}

.chatArea {
	position: absolute;
	width: 25%;
	height: 100%;
	border-left: 1px solid black;
	top: 0;
	right: 0;
}
